.about {
  background-color: var(--bg-main-gray);
  padding: 60px 0 100px 0;
}
.about-title {
  font-size: 34px;
  font-weight: 700;
  color: var(--font-color-main);
  margin: 0 0 42px 0;
}
.about-subtitle-ru,
.about-subtitle-en,
.about-description-ru,
.about-description-en {
  margin: 0 0 20px 0;
}

.about-description-ru,
.about-description-en {
  text-align: left;
}

.divider-container {
  display: flow-root;
}

.divider {
  width: min(420px, 100%);
  height: 1px;
  background-color: var(--font-color-main);
  border: none;
  margin: 15px auto;
}

.about-container {
  max-width: 785px;
}
